
.itemDetail{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.descripcionItem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}